<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Host Two Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!--<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/css/fonticons.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/fonts/stylesheet.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->
    <!--For Plugins external css-->
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")assets/css/responsive.css" />

    <script src="@Url.Content("~/Content/myTemplate/")assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="header_top_bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nav">
                            <div class="call_us_menu">

                                <div class="col-sm-8 col-xs-12">
                                    <p>Do you need help ? Just Email, Live chat or Call us</p>
                                </div>
                                <div class="col-sm-4 col-xs-5">
                                    <div class="call_us_bottom">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <div class="btn_left">
                                                    <a href="" class="btn-primary">Live Chat</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="phone_numbr">
                                                    <a href="">6284-6534</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default" id="#navmenu">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">
                                        <img src="assets/images/logo.png" />
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->



                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#home">Home</a></li>
                                        <li>@Html.ActionLink("Services", "Index", "Services")</li>
                                        <li><a href="#feature">Features</a></li>
                                        <li><a href="#clients">Clients</a></li>
                                        <li><a href="#pricing">Domain</a></li>
                                        <li><a href="#contact">Hosting</a></li>

                                    </ul>
                                </div>

                            </div>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </header> <!--End of header -->
    <div>
        @RenderBody()
    </div>
</body>
</html>
